/Agents/nbproject/private/
/Agents/build/
/JMSQueueAMQ/dist/
/FormsBasics/nbproject/private/
/FormsBasics/dist/
/FormsBasics/build/
/WebAppGetPost/nbproject/private/
/WebAppGetPost/dist/
/WebAppGetPost/build/
/WebSeguros/nbproject/private/
/WebSeguros/dist/
/WebSeguros/build/
/WebApplicationX/nbproject/private/
/WebApplicationX/build/
/WebApplicationX/dist/
/EncuestaServlet/nbproject/private/
/EncuestaServlet/dist/
/EncuestaServlet/build/
/ServletSample/nbproject/private/
/ServletSample/dist/
/ServletSample/build/
/ElZodiaco/nbproject/private/
/ElZodiaco/dist/
/ElZodiaco/build/
/Java Web/WebApplicationLogin/nbproject/private/
/Java Web/WebApplicationLogin/build/
/Java Web/WebApplicationLogin/dist/
/Java Web/WebApplicationCinemas/nbproject/private/
/Java Web/WebApplicationCinemas/dist/
/Java Web/WebApplicationCinemas/build/
/Java Web/WebCoockies/nbproject/private/
/Java Web/WebCoockies/build/
/Java Web/WebCoockies/dist/
/Java Web/WebCookies/nbproject/private/
/Java Web/WebCookies/build/
/Java Web/WebHttpSesion/nbproject/private/
/Java Web/WebHttpSesion/build/
/Java Web/WebHttpSesion/dist/
/Java Web/WebDB/nbproject/private/
/Java Web/WebDB/dist/
/Java Web/WebDB/build/
/Java Web/WebBDComplete/nbproject/private/
/Java Web/WebApplicationJS/nbproject/private/
/Java Web/WebApplicationJS/dist/
/Java Web/WebApplicationJS/build/
/Java Web/BulletproofForm/nbproject/private/
/Java Web/BulletproofForm/build/
/Java Web/WebAjax/nbproject/private/
/Java Web/WebAjax/dist/
/Java Web/WebAjax/build/
/Java Web/AjaxSuggestion/nbproject/private/
/Java Web/AjaxSuggestion/build/
/Java Web/AjaxSuggestion/dist/
/Java Web/WabAppJSON/nbproject/private/
/Java Web/WebAppJSON/nbproject/private/
/Java Web/WebAppJSON/build/
/Java Web/WebAppJSON/dist/
/Java Web/JSONSQL/nbproject/private/
/Java Web/JSONSQL/build/
/Java Web/JSONSQL/dist/
/Java Web/WebApplicationWS/nbproject/private/
/Java Web/WebApplicationWS/dist/
/Java Web/WebApplicationWS/build/
/Java Web/WebApplicationClient/nbproject/private/
/Java Web/WebApplicationClient/build/
/Java Web/WebApplicationClient/dist/